#title{
    position: absolute;
    font-size: 250%;
    top: 85px;
    left: 60px;
}
#notebook{
    position: relative;
    background-image: url('../assets/images/tooplate_content_bg.jpg');
    width: 954px;
    height: 753px;
    .postits-box{
        position: absolute;
        left: 80px;
        top: 270px;
    }
    .postit{
        width: 216px;
        height: 47px;
        margin-bottom: 25px;
        cursor: pointer;
        font-size: 205%;
        line-height: 47px;
    }
    .postit:hover{
        font-weight: bolder;
    }
    .postit-blue{
        background-image: url('../assets/images/tooplate_menu_01.png');
        transform: rotate(2deg);
    }
    .postit-green{
        background-image: url('../assets/images/tooplate_menu_02.png');
    }
    .postit-yellow{
        background-image: url('../assets/images/tooplate_menu_03.png');
        transform: rotate(-2deg);
    }
    .postit-red{
        background-image: url('../assets/images/tooplate_menu_04.png');
    }
    .postit-pink{
        background-image: url('../assets/images/tooplate_menu_05.png');
    }
    .pages{
        box-sizing: border-box;
        position: absolute;
        left: 300px;
        top: 15px;
        width: 590px;
        padding: 15px;
    }
}  